* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}


img {
    width: 230px;
    padding: 50px;
    vertical-align: top;
    float: left;
}


h1 {
    font-family: "Georgia", Times New Roman, Times, serif;
    color: #241c15;
    font-size: 35px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #0091bb;
}

.formularios {
    font-family: Arial, Helvetica, sans-serif;
    color: #231c16;
    max-width: 200px;
    display: inline-block;
    box-sizing: border-box;
    word-wrap: break-word;
    border-style: none;
    margin-top: 30px;
    height:15px;
} 

.img-form {
    max-width: 500px;
    margin: 0 auto;
}

.columnader {
    max-width: 500px;
    display: inline-block;
    float: right;
    padding-top: 20px;
    float: right;
}

.requisitosPass {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;
    padding; auto;
    list-style-type: disc;
    margin-left: 18px;
    margin-top: 30px;
    column-count: 2;
    text-decoration-color: #3a7a87;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 42px;
    height: 42px;
    color: #bdbbb9;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 4px;
}

.boton {
    border-bottom-width: 30px;
    border-bottom-style: solid;
    border-width: 1px;
}

span {
    text-decoration: none;
    color: #0091bb;   
}

.foot {
    margin-bottom: 700px;
}

/* PRUEBA 

input {
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
}
*/
